body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background: #FECD1A;
    FECD1A
}

.quem-somos{
    background-color: #9D0191;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #FD3A69;
}

.servicos{
    background-color: #7ca7bb;
}

.servicos-text{
    font-size: 14px ;
}

.bg-footer{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
}